.pills ul{
    display: flex;
    flex-direction: row;
  }
  
.pills ul li{
    background-color: black;
    color: var(--primary-color);
    padding: 5px 15px;
    margin: 0 10px;
    text-transform: uppercase;
  }
  
.pills ul li:first-child{
    margin-left: 0;
  }